*{text-align: center;

  }

  .nav-link{
    color: white !important;
  }

  #first-page{
    background-image: url("bg.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
  background-color: #125B50;
  height: 700px;
  padding: 100px 0px 100px;
  margin: 0px 0px;
}
#what-we-do{
  background-image: url("images/clean-home.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
padding: 100px 50px;
margin-top: 10px;

}


#testimonials{
  background-color: #125B50;
  height: 600px;
  padding-top:80px;
  margin-top: 10px;
  margin-bottom: 0;

}
 #cta{
   height: 600px;
   padding: 20px;

 }


#footer{
  background-color: #125B50;
  height: 100px;
  padding: 10px;
}

/* font-family: 'Lora', serif;
font-family: 'Roboto Slab', serif; */
/* first page */

.intro{
color: white;
font-family: 'Roboto Slab', serif;
text-align: left;
font-size: 60px;
margin-top: 100px;
margin-left: 30px;
line-height: 1.5;
padding-left: 10px;

}

.clean-img{
transform: rotate(10deg);
font-size: 40px;
margin:  50px 10px 20px;

}

/* what we do */

ul{
  list-style: none;

}
.what-we-do-child{
    background-color: #446A46;
    color: white;
    border: 5px solid;
    font-family: 'Lora', serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.what-we-do-header{
font-size: 70px;
font-family: 'Roboto Slab', serif;
margin-top:50px;
margin-bottom: 10px;
font-weight: 900;
color: white;

}

/* Testimonials */
h2{

  font-size: 70px;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  color: white;
  margin-bottom: 25px;

}

.tests{
font-size: 30px;
color: white;
font-family: 'Lora', serif;
padding-left: 150px;
padding-right: 150px;
padding-bottom: 0;
margin-bottom: 25px;
}

.test-image1{
border-radius: 50px;
height: 100px;
margin-right: 10px;
}

.em{
  color: white;
}

/* cta */

.cta-text{
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  margin-top: 100px;

}

button{
  margin-top: 10px;
  padding: 20px;
}

.cta-link{
  text-decoration: none;
  color: white
}


.footer-logo{
font-size: 30px;
margin-left: 5px;
margin-right: 5px;
margin-top: 10px;
color: white;

}
.footer-link{
text-decoration: none;

}

@media (max-width:1091px) {
.what-we-do-header{
margin-top: 100px;
}}

@media (max-width:1014px) {
.intro{
line-height: normal;
}}

@media (max-width:1109px) {
  #what-we-do{
    padding-top: 0px;
margin-top: 50px;
margin-bottom: 50px;

}}
